.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px 0px #0000001a;
  height: 100vh;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1051px;
  height: 604px;
  /* transform: translate(10px, 50px); */
  gap: 0px;
  border-radius: 16px 16px 16px 16px;
  border: 1px solid #ffffff;
  opacity: 0px;
  box-shadow: 0px 0px 12px 4px #0000001f;
}

.flex-section-left {
  width: 442px;
  height: 604px;
  background: #f1f6f8;
  border-radius: 16px 16px;
}

.logo-img {
  width: 117.68px;
  height: 52px;
  top: 29px;
  left: 28px;
  position: relative;
}

.section-img {
  position: relative;
  width: 419px;
  height: 449px;
  top: 143px;
  left: 8px;
}

.second-img {
  width: 353.72px;
  height: 249.05px;
  top: 99.49px;
  left: 46.27px;
  position: relative;
}

.flex-section-right {
  width: 610px;
  height: 604px;
  background-color: #ffffff;
  border-radius: 0px 16px 16px 0px;
}

.content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 333px;
  height: 308px;
  right: 400px;
  top: calc(50% - 200px + 12px);
}

.heading {
  width: Hug (97px) px;
  height: Hug (30px) px;
  color: #2d2d36;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.label-field {
  color: #0069d1;
  display: flex;
  margin-bottom: 10px;
}

.input-field {
  width: 333px;
  height: 40px;
  background: #e4ecee;
  color: #767676;
  border-radius: 15px;
  border: none;
}

.or-label {
  width: 92px;
  height: 18px;
  margin: 10px 0 10px 0;
  color: #767676;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}

input::placeholder {
  padding-left: 10px;
}

input:focus {
  outline: none;
}

.button {
  width: 333px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background: #0069d1;
  border-radius: 16px;
  border: none;
  border::focus {
    outline: none;
  }
  color: #ffffff;
  margin-top: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
}

.success-img {
  width: 204px;
  height: 204px;
  top: 50px;
  right: 50px;
  position: absolute;
}

.success-heading {
  width: 206px;
  height: 34px;
  top: 300px;
  right: 30px;
  position: absolute;
}

.success-text {
  width: 450px;
  height: 34px;
  top: 535px;
  right: 320px;
  position: absolute;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
